@import '../mixins.css.scss';

.flame-progress-view {
    .progress-container {
        border: 1px solid #aaa;
        border-radius: 3px;
        background-color: white;
    }

    .progress-bar {
        position: absolute;
        border-radius: 2px;
        top: 2px;
        left: 2px;
        @include gradient(#77aae6, #5588c6);
    }
}
