.flame-search-field {
    padding-right: 25px;

    & > input {
        border-radius: 10px;
        background: white url('../../images/search.svg') no-repeat 4px 2px;
        padding-left: 21px;
    }
}
