.flame-search-field {
    padding-right: 25px;

    & > input {
        background: url('../../images/search.svg') no-repeat 4px 2px;
        border-radius: 10px;
        background-color: white;
        padding-left: 21px;
    }
}
