@import '../mixins.css.scss';

.flame-vertical-split-view > .flame-split-view-divider {
    border-style: none solid;
    @include horizontal-gradient(#f7f7f7, #d8d8d8);
    cursor: col-resize;
}

.flame-horizontal-split-view > .flame-split-view-divider {
    border-style: solid none;
    @include gradient(#f7f7f7, #d8d8d8);
    cursor: row-resize;
}

.flame-split-view-divider {
    border: 1px #a8a8a8;
    z-index: 10;
}
