@import "mixins";

/* This is outside the form-view element, so we can't use it as parent selector */
.flame-form-view-validation-error {
    z-index: 1;
    .pointer {
        margin: 3px 0px 3px 0px;
        width: 14px;
        height: 28px;
        background-repeat: no-repeat;
    }
    &.points-to-right .pointer{
        float: right;
        background-image: image-url('images/error_triangle_right.png');
    }
    &.points-to-left .pointer {
        background-image: image-url('images/error_triangle_left.png');
        float: left;
    }
    &.skinny.points-to-left .pointer {
        margin-top: 0px;
        background-image: image-url('images/error_triangle_left_skinny.png');
    }
    &.skinny.points-to-right .pointer {
        margin-top: 0px;
        background-image: image-url('images/error_triangle_right_skinny.png');
    }
    .error-box {
        line-height: 28px;
        background-color: #cd443d;
        color: white;
        font-weight: bold;
        @include box-shadow(1, 1, 4, #333333);
    }
    &.points-to-right .error-box{
        margin: 3px 14px 3px 3px;
        padding: 0px 6px 0px 10px;
        border-radius: 3px 0px 0px 3px;
    }
    &.points-to-left .error-box {
        margin: 3px 3px 3px 14px;
        padding: 0px 10px 0px 6px;
        border-radius: 0px 3px 3px 0px;
    }
    &.skinny .error-box {
        height: 22px;
        margin-top: 0px;
        line-height: 22px;
    }
}
