@import "reset.css";
@import "mixins.css.scss";

body {
    font-size: $default-font-size;
    @include user-select(none);
}

.ember-view {
    font-family: 'Lucida Grande', 'Lucida Sans', Verdana, Arial, sans-serif;
}

.flame-view {
    position: absolute;
    cursor: default;
    overflow: hidden;
    box-sizing: border-box;
}

input[type="password"] {
    font-family: 'Lucida Grande', 'Microsoft Sans Serif', sans-serif;
}

*[contenteditable="true"] {
    user-select: text !important;
}

.is-selectable {
    @include user-select(text);
}

.align-left { text-align: left; }
.align-right { text-align: right; }
.align-center { text-align: center; }

.flame-fullscreen-pane {
    z-index: 40;
    background-color: white;
}

.flame-fullscreen-close {
    z-index: 99;
    @include box-shadow(0, 0, 6, #fff);
    position: fixed;
}

.loading-indicator {
    width: 16px;
    height: 16px;
}

@import "views/label_view.css.scss";
@import "views/button_view.css.scss";
@import "views/checkbox_view.css.scss";
@import "views/collection_view.css.scss";
@import "views/combo_box_view.css.scss";
@import "views/disclosure_view.css.scss";
@import "views/form_view.css.scss";
@import "views/lazy_list_view.css.scss";
@import "views/lazy_tree_item_view.css.scss";
@import "views/list_item_view.css.scss";
@import "views/list_view.css.scss";
@import "views/menu_view.css.scss";
@import "views/panel.css.scss";
@import "views/popover.css.scss";
@import "views/progress_view.css.scss";
@import "views/radio_button_view.css.scss";
@import "views/scroll_view.css.scss";
@import "views/search_text_field_view.css.scss";
@import "views/select_button_view.css.scss";
@import "views/split_view.css.scss";
@import "views/stack_item_view.css.scss";
@import "views/tab_view.css.scss";
@import "views/table_view.css.scss";
@import "views/text_field_view.css.scss";
@import "views/tree_item_view.css.scss";
@import "views/alert_panel.css.scss";
@import "error_message.css.scss";
