//= require ./reset
//= require_self
//= require ./views/label_view
//= require ./views/button_view
//= require ./views/checkbox_view
//= require ./views/radio_button_view
//= require ./views/select_button_view
//= require ./views/text_field_view
//= require ./views/search_text_field_view
//= require ./views/disclosure_view
//= require ./views/split_view
//= require ./views/tab_view
//= require ./views/collection_view
//= require ./views/table_view
//= require ./views/table_view
//= require ./views/form_view
//= require ./views/progress_view
//= require ./views/scroll_view
//= require ./views/list_view
//= require ./views/lazy_list_view
//= require ./views/list_item_view
//= require ./views/tree_item_view
//= require ./views/lazy_tree_item_view
//= require ./views/stack_item_view
//= require ./views/panel
//= require ./views/menu_view
//= require ./views/popover
//= require ./views/alert_panel
//= require ./error_message

@import 'mixins';

body {
    font-size: $default-font-size;
    @include user-select(none);
}

.ember-view {
    font-family: 'Lucida Grande', 'Lucida Sans', Verdana, Arial, sans-serif;
}

.flame-view {
    position: absolute;
    cursor: default;
    overflow: hidden;
    box-sizing: border-box;
}

input[type="password"] {
    font-family: 'Lucida Grande', 'Microsoft Sans Serif', sans-serif;
}

*[contenteditable="true"] {
    -moz-user-select: text !important;
    -ms-user-select: text !important;
    -webkit-user-select: text !important;
    user-select: text !important;
}

.is-selectable {
    @include user-select(text);
}

.align-left { text-align: left; }
.align-right { text-align: right; }
.align-center { text-align: center; }

.flame-fullscreen-pane {
    z-index: 40;
    background-color: white;
}

.flame-fullscreen-close {
    z-index: 99;
    @include box-shadow(0, 0, 6, #fff);
    position: fixed;
}

.loading-indicator {
    width: 16px;
    height: 16px;
}
