@import "mixins";

.flame-inspector-panel {
    font-family: 'Verdana';
    font-size: 12px;
    background: #444;
    @include opacity(0.9);
    border-radius: 2px;
    border: 1px solid #333;
    color: white;
    @include gradient(#444444, #4a4a4a);

    .flame-panel-title {
        margin: 0px;
        font-size: 12px;
        font-weight: normal;
        letter-spacing: 2px;
        border-radius: 1px 1px 0px 0px;
        border: 1px #333;
        border-bottom-style: solid;
        @include gradient(#777777, #666666);
        text-shadow: none;
        color: #ddd;
        margin-top: -1px;
    }

    .flame-tab-view-content {
        border: none;
    }

    .flame-inspector-hist, .flame-inspector-toolbar-button {
        @include gradient(#888888, #666666);
        &.is-active {
            @include gradient(#555555, #777777);
        }
        label {
            font-family: 'Arial';
            font-size: 12px;
            color: #eee;
            padding: 3px;
        }
        &.is-disabled label {
            color: #aaa;
        }
    }

    .flame-tab-view-tabs {
        font-size: 11px;
        div {
            @include gradient(#777777, #666666);
            color: #aaa;
            border-color: #555;
        }
        label {
            font-weight: normal;
            padding-top: 3px;
        }
        .is-selected {
            @include gradient(#7788aa, #667799);
        }
    }
}

.flame-inspector-toolbar {
    @include gradient(#888888, #666666);
    border: 1px #444;
    border-bottom-style: solid;

    .flame-inspector-toolbar-button {
        @include no-gradient();
        border-style: none none none solid;
        border-radius: 0px;
        border-color: #444;
    }
}

.flame-inspector-filter-list {
    margin: 5px;
    color: white;
    .flame-checkbox-view {
        .flame-checkbox-label {
            color: white;
            font-size: 11px;
        }
    }
}

.flame-inspector-ref-view {
    font-family: 'Monaco';
    padding: 2px;
    text-align: center;
    border-radius: 6px;

    &.flame-inspector-ref-view-object {
        border: 1px solid #8b7;
        background-color: #584;
        &:hover {
            cursor: pointer;
            background-color: #695;
        }
    }

    &.flame-inspector-ref-view-state {
        border: 1px solid #a7b;
        background-color: #839;
        &.current-state {
            background-color: crimson;
            border-color: salmon;
            font-weight: bold;
            &:hover { background-color: red; }
        }
        &:hover {
            cursor: pointer;
            background-color: #94a;
        }
    }

    &.flame-inspector-ref-view-view {
        border: 1px solid #78a;
        background-color: #458;
        &:hover {
            cursor: pointer;
            background-color: #ef6;
            color: black;
        }
    }

    &.flame-inspector-ref-view-none {
        border: 1px solid #888;
    }
}

.flame-inspector-inspector-container {
    border: 1px solid #333;
    overflow: auto;
    background: #585858;
    color: white;
}

.flame-inspector-event-log {
    font-size: 11px;

    .flame-inspector-no-events {
        color: #aaa;
    }

    .flame-inspector-event {
        border: 1px #222;
        border-bottom-style: solid;
        position: relative;
        padding: 0px;

        div {
            padding: 2px 5px 2px 5px;
            height: 14px;
        }
        .flame-inspector-event-name {
            padding: 0px;
            position: absolute;
            width: 100px;
        }
        .flame-inspector-event-info {
            padding: 0px;
            position: absolute;
            left: 105px;
        }
    }
}

.flame-inspector-inspector {
    font-size: 11px;
    overflow: hidden;

    .flame-list-item-view.level-1 > .flame-tree-item-view-container {
        height: 19px;
        padding-top: 1px;
        @include gradient(#999999, #777777);
        letter-spacing: 2px;
        font-variant: small-caps;
        color: #ddd;
        font-size: 13px;

        .flame-tree-view-toggle {
            position: relative;
            top: 1px;
            span {
                color: #ccc;
            }
        }
    }

    .flame-list-item-view.level-2 > .flame-tree-item-view-container {
        border: 1px #4c4c4c;
        border-bottom-style: solid;
        position: relative;
        height: 19px;
        padding: 0px;

        .flame-inspector-key {
            position: absolute;
            left: 4px;
            top: 3px;
            width: 120px;
            overflow: hidden;
            color: #e8e8e8;
        }
        .flame-inspector-value {
            position: absolute;
            top: 3px;
            left: 132px;
            right: 0px;
            overflow: hidden;

            &.error { color: red; }
            &.string { color: aquamarine; }
            &.number { color: orchid; }
            &.boolean { color: cyan; }
            &.undefined { color: #aaa; }
            &.array { color: #FFDA7C; }
            &.function { color: yellow; }
        }
        .flame-inspector-ref-view {
            position: absolute;
            top: 0px;
            left: 130px;
            width: 60px;
        }
    }
}

