@import "reset.css";
@import "mixins.scss";

body {
    font-size: $default-font-size;
    @include user-select(none);
}

.ember-view {
    font-family: 'Lucida Grande', 'Lucida Sans', Verdana, Arial, sans-serif;
}

.flame-view {
    position: absolute;
    cursor: default;
    overflow: hidden;
    box-sizing: border-box;
}

input[type="password"] {
    font-family: 'Lucida Grande', 'Microsoft Sans Serif', sans-serif;
}

*[contenteditable="true"] {
    user-select: text !important;
}

.is-selectable {
    @include user-select(text);
}

.align-left { text-align: left; }
.align-right { text-align: right; }
.align-center { text-align: center; }

.flame-fullscreen-pane {
    z-index: 40;
    background-color: white;
}

.flame-fullscreen-close {
    z-index: 99;
    @include box-shadow(0, 0, 6, #fff);
    position: fixed;
}

.loading-indicator {
    width: 16px;
    height: 16px;
}
